#app {
  display: flex;
  padding: 3rem 0;
  height: 100vh;

  .categories {
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
    margin-top: auto 0;
    height: 3rem;
    overflow: auto;
  }
}